<div class="row block half">
  <div class="col-md-5">
    <div class="row">
      <div class="col-12">
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-7 offset-md-0 col-lg-6 offset-lg-1">
    <div class="row">
      <div class="col-12 col-md-11 offset-md-1 col-lg-12 offset-lg-0">
        <p class="lead mb1">Subscribe to our news</p>
        <div class="subscribe">
          <input type="text" placeholder="Email"/><a href="#" class="btn btn-default btnblack">Subscribe</a>
        </div>
      </div>
    </div>
  </div>
</div>
