<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-6">
            <p>
            Organized by CoinsBank <br/>
            &copy; CB Exchange LP
            </p>
          </div>
          <div class="col-6">
            <p>Contact us</p>
            <p><a href="mailto:events@coinsbank.com?subject=feedback">events@coinsbank.com</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-7 offset-md-0 col-lg-6 offset-lg-1">
        <div class="row lower_block">
          <div class="col-12 col-md-11 offset-md-1 col-lg-12 offset-lg-0">
            <p>Phone: +442036088233 <br />
              101 Rose Street South Lane, Edinburgh, EH23JG, Scotland, UK
            </p>
            <ul class="social">
              <li><a href="https://www.facebook.com/coinsbankofficial/" class="so fb" target="_blank"></a></li>
              <li><a href="https://twitter.com/CoinsBank" class="so tw" target="_blank"></a></li>
              <li><a href="https://www.youtube.com/channel/UCmaOl61OpjE67R-ivhsZgaQ" class="so yo" target="_blank"></a></li>
              <li><a href="https://www.instagram.com/_coinsbank_/" class="so ig" target="_blank"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="js/main.min.js"></script>
