* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font1;
  color: $white;
  font-size: 32px;
  line-height: 1.35em;
  background: $black;
  padding: 0 0 6em;
  p, input, a {
    font-family: $font2;
  }
  @media (max-width: 1280px) {
    font-size: 28px;
  }
  @media (max-width: 768px) {
    font-size: 24px;
  }
  @media (max-width: 420px) {
    font-size: 20px;
  }
}

.h-center {
  align-items: center;
  display: flex;
}

.common {
  font-size: 20px;
  line-height: 34px;
  font-family: $font2;
  small {
    display: block;
    font-size: 14px;
  }
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  .form {
    width: 380px;
    text-align: center;
    @media (max-width: 420px) {
      width: 320px;
    }
    @media (max-width: 320px) {
      width: 280px;
    }
    .join {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h1 {
      font-size: 68px;
      margin-bottom: 70px;
      @media (max-width: 420px) {
        font-size: 34px;
        margin-bottom: 35px;
      }
    }
    input {
      background: #1f1f1f;
      color: $white;
      height: 60px;
      border: 0;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      &:focus {
        outline: none !important;
        border: 1px solid #4d4d4d;
        box-shadow: none;
      }
      &.error {
        border: 1px solid $purple;
        color: $white;
      }
    }
    div.error {
      color: $purple;
      margin-top: -12px;
      margin-bottom: 28px;
      font-size: 20px;
    }
    a {
      display: block;
    }
  }
}


.godfather {
  content: '';
  width: 100%;
  height: 100vh;
  min-height: 640px;
  max-height: 640px;
  display: block;
  background: url("../img/korleone.jpg") no-repeat center bottom 0;
  background-size: contain;
  border-bottom: 1px solid $darkgray;
  z-index: 0;
  padding: 40px 0 0;
  margin-bottom: 200px;
  &.mcafee {
    background-image: url("../img/mcafee.jpg");
  }

  @media (min-width: 1280px) {
    .upper_block {
      .col-xl-6 {
        margin-left: 41.66667%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
      }
    }
  }
  @media (min-width: 1441px) {
    .upper_block {
      .col-xl-6 {
        margin-left: 36%;
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
  @media (max-width: 1200px) {
    height: auto;
    padding-top: 120px;
    min-height: 100vh;
    max-height: initial;
    background-position: left 40px bottom;

    br {
      display: none;
    }
  }
  @media (max-width: 1024px) {
    min-height: 1300px !important;
    .col-lg-4.col-md-6 {
      flex: 100%;
      margin-left: 0;
      max-width: 100%;
    }
  }
  @media (max-width: 768px) and (max-height: 1024px) {
    height: 100vh;
  }
  @media (max-width: 768px) {
    height: 1500px;
    max-height: initial;
    min-height: initial;
    background-position: left -40px bottom;
    background-size: 1030px;
  }
  @media (max-width: 640px) {
    height: 1400px;
    padding-top: 200px;
  }
  @media (max-width: 420px) {
    min-height: 900px !important;
    height: 900px;
    padding-top: 60px;
    min-height: 0;
    background-position: left -40px bottom;
    background-size: 660px;
    margin-bottom: 60px;
  }

  @media (max-width: 320px) {
    min-height: 1000px !important;
    height: 1000px;
  }

  @media (min-height: 1000px) {
    padding: 150px 0 0;
    max-height: 800px;
  }
  @media (min-height: 1200px) {
    max-height: 900px;
  }

  @media (max-height: 1300px) and (max-width: 1024px) and (min-width: 640px) {
    height: 1000px;
      min-height: 1000px;
      max-height: 1000px;
  }
  .h1 {
    font-size: 1.8em !important;
    margin-bottom: 40px;
    &.date {
      margin-bottom: 0;
      .location {
        margin-top: -5px;
        margin-bottom: 20px;
      }
      .down {
        margin-bottom: 10px;
      }
    }
    p {
      font-size: 36px;
      @media (max-width: 640px) {
        font-size: 22px;
        margin-top: 10px;
      }
    }
  }
  p {
    font-family: $font1 !important;
    &.join {
      font-family: $font1 !important;
    }
    &.down {
      font-size: 32px;
      line-height: 28px;
      display: block;
      text-transform: none;
    }
  }
}

p {
  margin-bottom: 0;
}

a {
  color: $white;

  &:hover {
    text-decoration: none;
    color: darken($white,20%);
  }
}

h1 {
  &.hashtag {
    color: $blue;
    font-size: 40px;
    margin-bottom: 145px;
    padding-left: 40px;
  }
}

.h1 {
  font-size: 2.3em;
  text-transform: uppercase;
  position: relative;
  padding: 1.5rem 0;
  background: $black;

  &.date {
    font-size: 2em;
  }
  @media (max-width: 768px) and (max-height: 1024px) {
    padding: 1.5rem 0;
  }
  @media (max-width: 375px) {
    font-size: 2em;
  }
  @media (max-width: 320px) {
    font-size: 1.3em;
  }

  &:before {
    content: '';
    display: block;
    height: 1px;
    background: $darkgray2;
    width: 100%;
    position: absolute;
    bottom: 5px;
  }

  &:after {
    content: '';
    display: block;
    height: 1px;
    background: $white;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

.divider {
  height: 1em;
  position: relative;

  &:before {
    content: '';
    display: block;
    height: 1px;
    background: $darkgray2;
    width: 100%;
    position: absolute;
    bottom: 5px;
  }

  &:after {
    content: '';
    display: block;
    height: 1px;
    background: $white;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}



.h3 {
  text-transform: uppercase;
  font-size: 1.3em;
  margin-bottom: 1.5em;
  &.location {
    text-transform: capitalize;
    margin-bottom: 0.5em;
  }
}

.bar {
  transform-origin: 0 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: $black;
  width: 100vh;
  height: 80px;
  z-index: 101;
  display: flex;
  transition: all ease-out 0.3s;
  border-bottom: 1px solid $darkgray;
  transform: rotate(270deg);
  align-items: center;
  top: 100%;
  padding-left: 40px;
  padding-right: 40px;
  .coinsbank {
    margin-left: 20px;
    img {
      width: 40px;
      height: 40px;
    }
  }
  &>a {
    margin-right: 30px;
    font-size: 18px;
    color: $darkgray2;
    display: block;
    height:40px;
    line-height: 34px;
    white-space: nowrap;
    &:hover {
      color: $white;
    }
    &.active {
      color: $white;
    }
  }
  .hashtag {
    //transform-origin: 0 0;
    //transform: translateY(99px) rotate(270deg);
    font-size: 24px;
    margin-left: auto;
    color: $white;
    line-height: 0;
    height:40px;
    line-height:30px
  }
  &.active {
    background: $white;
    border-right:1px solid transparent;
    .hashtag, .see_program {
      color: $black;
    }
    .see_program, .see_offer, .see_speakers {
      color: $darkgray2;
      &:hover {
        color: $black;
      }
      &.active {
        color: $black;
      }
    }
  }
  @media (max-width: 768px) {
    width: 100%;
    height: 80px;
    top:0;
    transform: rotate(0);
    border-bottom: 1px solid $darkgray;
    &.active {
      border-bottom: 1px solid transparent;
    }
  }
  @media (max-width: 669px) {
    padding:0 40px;
  }
  @media (max-width: 640px) {

    &>a {
      font-size: 18px;
    }
  }
  @media (max-width: 563px) {
    padding:0 15px;
    .coinsbank {
      img {
        width: 30px;
        height: 30px;
      }
    }
    .hashtag{
      font-size: 18px;
    }
    &>a {
      margin-right: 20px;
    }
  }
  @media (max-width: 420px) {
    height: 40px;
    .hashtag {
      line-height:35px;
    }
    .coinsbank {
      margin-left: 10px;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  @media (max-width: 400px) {
    .hashtag{
      font-size: 16px;
    }
    &>a {
      font-size: 16px;
      margin-right: 13px;
    }
  }
  @media (max-width: 380px) {
    &>a, .hashtag{
      font-size: 14px;
    }
  }
  @media (max-width: 320px) {
    &>a,.hashtag{
      font-size: 13px;
    }
  }
  @media (min-width: 768px) and (max-height: 671px) {
    padding: 0 40px;
  }
  @media (min-width: 768px) and (max-height: 630px) {
    &>a,.hashtag{
      font-size: 20px;
    }
  }
  @media (min-width: 768px) and (max-height: 570px) {
    &>a,.hashtag{
      font-size: 18px;
    }
    &>a {
      margin-right: 15px;
    }
    .coinsbank {
      margin-left:15px;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
  @media (min-width: 768px) and (max-height: 450px) {
    padding: 0 15px;
  }
}



li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul {
  li {
    font-size: 0.8em;
    border-bottom: 1px solid $darkgray;
    padding: 0.5em 0;

    &:first-child {
      border-top: 1px solid $darkgray;
    }
  }
}

.total {
  margin-top: 1.5em;
  align-items: center;
  .price {
    font-size: 18px;
    font-family: $font1;
    align-self: flex-end;
    color: $white;
    margin-right: 15px;
  }
  display: flex;
  justify-content: space-between;
  @media (max-width: 320px) {
    display: block;
  }
}

.container-fluid {
  position: relative;
  z-index: 1;
}

.btn {
  &.btn-default {
    border: 2px solid $white;
    color: $white;
    border-radius: 0;
    font-family: $font1;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 0 1.5em;
    height: 60px;
    display: inline-flex;
    align-items: center;
    @media (max-width: 640px) {
      height: 40px;
    }
    &:hover {
      background: $white;
      color: $black;
    }
    &.blackeffect {
      &:hover {
        color: $white;
      }
    }
  }
}

.see_accomodation {
  margin-top: 1.5em;
  display: inline-block;
  background: url("../img/icon_accomodation.png") no-repeat center right;
  background-size: 27px;
  color: $darkgray2;
  padding-right: 40px;
  font-size: 18px;
  @media (max-width: 1280px) {
    margin-top: 2.5em;
  }
}

.join_family {
  @media (max-width: 1280px) {
    margin-bottom: 110px;

    br {
      display: none;
    }
  }
  @media (max-width: 420px) {
    margin-bottom: 60px;
  }
}

.gallery_container {
  background: $black;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  .close_gallery {
    position: fixed;
    z-index:999;
    top: 80px;
    right: 100px;
    font-size: 0.8em;
    color: $darkgray2;
    padding: 10px 20px;
    background: $black;
    top: 30px;
    right: 30px;
    @media (max-width: 1280px) {
      top: 10px;
    }
  }

  #gallery {
    width: 760px;

    @media (max-width: 840px) {
      width: 80%;
    }

    @media (min-width: 1921px) {
      width: 1000px;
    }
    .owl-nav {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-40px);
      z-index: 9999;
      .owl-prev {
        left: -160px;
        background:$black url('../img/g-arrow-left_2x.png') no-repeat center center;
      }
      .owl-next {
        right: -160px;
        background:$black url('../img/g-arrow-right_2x.png') no-repeat center center;
      }
      [class*=owl-] {
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 80px;
        background-size: 12px 20px;
        top:-25px;
        text-indent: -99999px;
        cursor: pointer;
        opacity:0.7;
        &:hover {
          opacity:1;
        }
      }
      @media (max-width: 1140px) {
        .owl-prev {
          left: 20px;
        }
        .owl-next {
          right: 20px;
        }
      }

      @media (max-width: 960px) {
        [class*=owl-] {
          width:40px;
          height:40px;
          background-size: 8px;
        }
        transform: translateY(-10px);
      }
    }

    .owl-stage-outer {
      overflow: visible;
      .owl-stage {
        .owl-item {
          opacity: 0.2;
          transition: all ease-out 0.5s;
          h3,
          p {
            opacity: 0;
            text-align: center;
          }
          h3 {
            margin-bottom: 2rem;
          }
          p {
            margin-top: 2rem;
            font-size: 18px;
          }
          &.active {
            opacity: 1;
            h3,
            p {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

.buynow, .blackeffect, .btnblue, .btnblack {
  white-space: nowrap;
  height: min-content;
}

.buynow:hover, .blackeffect:hover, .btnblue:hover {
  box-shadow: inset -170px 0 0 0 var(--hover), inset 170px 0 0 0 var(--hover);
}

$colors: (
  buynow: $white,
  blackeffect: $black,
  btnblue: $white,
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}

.btn {
  color: var(--color);
  transition: 0.25s;
  min-width: 105px;

  &:hover {
    border-color: var(--hover);
    color: $white;
  }
  &.btnblue {
    border-color: $blue !important;
    background: $blue;
    color: $white !important;
    &:hover {
      color: $blue;
      border: 2px solid $blue;
    }
  }

  &.btnblack {
    border-color: $black;
    background: $black;
    &:hover {
      color: $white;
      border: 2px solid $blue;
      background: $blue;
    }
  }
  &.blackeffect {
    &:hover {
      color: $white;
    }
  }
}

.container>.row {
  transform:translateX(40px);
  @media (max-width: 768px) {
    transform:translateX(0);
  }
}

.pannels {
  background: $white;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  left:-100%;
  transition: all ease-out 0.3s;
  @media (max-width: 768px) {
    left: auto;
    top: -100%;
  }
  &.active {
    left: 0;
    @media (max-width: 768px) {
      left: auto;
      top: 0;
    }
    &+.bar {
      background: $white;
      .hashtag {
        color: $black;
      }
      &>a {
        color: $darkgray2;
        &:hover {
          color: $black;
        }
        &.active {
          color: $black;
        }
      }
      &.active {
        background: $black;
        &>a,.hashtag {
          color: $darkgray2;
          &:hover {
            color: $white;
          }
        }
        .active {
          color: $white;
        }
      }
    }
  }
  .become_sponsor {
    display: flex;
    align-items: center;
  }
}

.program {
  position: fixed;
  opacity: 0;
  padding-top: 105px;
  padding-bottom: 160px;
  overflow-y: scroll;
  background: $white;
  color: $black;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  transition: all ease-out 0.3s;
  &.active {
    left: 0;
  }
  ul,li {
    padding:0;
    margin:0;
    border:0 !important;
    font-family: $font2;
    font-size: 18px;
  }
  li {
    line-height: 1.1em;
    padding:8px 0;
  }
  ul {
    margin-bottom: 20px;
    &+ul {
      margin-top: 40px;
    }
  }
  h2 {
    font-size: 52px;
    margin:0;
    &.date {
      text-transform: uppercase;
      position: relative;
      padding-bottom:34px;
      margin-bottom: 54px;
      margin-top: 95px;
      &:after, &:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 5px;
        left: 0;
        background: $darkgray;
      }
      &:before {
        background: lighten($darkgray2, 30%);
        bottom: 0;
      }
    }
    &.heading {
      border: none;
    }
  }
  h5, .coffe_brake {
    font-size: 24px;
    color: $darkgray2;
    margin-bottom: 23px;
  }
  .iti__selected-flag:focus {
    border: 1px solid darken($lightgray,20%) !important;
    ourline: none !important;
  }
  .iti__country-list {
    background: $white;
    li {
      padding:0 0 0 20px;
      line-height: 50px
    }
  }
  .coffe_brake {
    display: inline-flex;
    align-items: center;
    margin-bottom: 40px;
    &:after, &:before {
      content: '';
      height: 1px;
      background: lighten($darkgray2,30%);
      display: inline-block;
      width:20px;
      margin-left: 12px;

    }
    &:before {
      margin-left: 0;
      margin-right: 12px;
    }
  }
  .btn {
    color: $black;
    border-color: $black;
  }
  input[type=text] {
    border: 1px solid $lightgray !important;
    background: $white !important;
    color: $black !important;
    &:focus {
      border-color: darken($lightgray,20%) !important;
    }
  }
  @media (max-width: 768px) {
    width: 100%;
    left: auto;
    top: -100%;
    &.active {
      left: auto;
      top: 80px;
    }
  }
  @media (max-width: 420px) {
    padding-top: 40px;
    padding-bottom: 80px;
    h2 {
      font-size: 32px;
      &.date {
        margin-top: 30px;
        margin-bottom: 20px;
      }
    }
    h5, .coffe_brake {
      font-size: 18px;
    }
    &.active {
      left: auto;
      top: 40px;
    }
    .coffe_brake {
      margin-bottom: 20px;
    }
    ul {
      margin-bottom: 10px;
      &+ul {
        margin-top: 20px;
      }
    }
  }
}

.see_speakers {
  h2 {
    margin-bottom: 110px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 55px;
    }
  }
  .about_speakers {
    margin-bottom: 80px;
    color: $darkblue;
    h2 {
      font-size: 40px;
      margin-bottom:30px;
    }
    p{
      margin-bottom: 30px;
    }
  }
  .speaker {
    margin-bottom: 70px;
    &:nth-child(even) {
      transform: translateY(80px);
      @include media-breakpoint-down(xs) {
        transform: translateY(0);
      }
    }
    .img_container{
      width: 270px;
      margin-bottom: 30px;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
    h3 {
      font-size: 1.15em;
    }
    .job_title {
      font-weight: 500;
      width: 270px;
      font-size: 0.7em;
      line-height: 1.5em;
      margin-bottom: 12px;
    }
    p {
      width: 270px;
      font-size: 18px;
      line-height: 1.5em;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }
  }
}


//checkout page


.checkout {
  padding-top: 120px;
  max-width: 850px;
  margin: 0 auto;
  a {
    &:hover {
      color: $white;
    }
  }
  @include media-breakpoint-down(xs) {
    padding-top: 60px;
  }
  h1 {
    font-size: 2.1em;
    margin-bottom: 50px;
  }
  h2 {
    margin-bottom: 35px;
  }
  .row {
    margin-bottom: 50px;
  }
  .offer {
    height: 80px;
    border: 1px solid $white;
    padding: 0px 20px 0 52px;
    display: flex;
    font-family: $font2;
    place-items: center;
    justify-content: space-between;
    position:relative;
    cursor: pointer;
    font-size: 18px;
    @include media-breakpoint-down(xs) {
      margin-bottom: 40px;
    }
    &:after {
      content: '';
      width: 20px;
      height: 20px;
      border: 1px solid $white;
      border-radius: 20px;
      display: block;
      position: absolute;
      left: 20px;
      top: 50%;
      margin-top: -10px;
    }
    &.active {
      background: $white;
      color: $black;
      &:after {
        border: 1px solid $black;
        background: $black;
        z-index:998;
      }
      &:before {
        content:'';
        width: 8px;
        height: 8px;
        z-index:999;
        background: $white;
        border-radius: 20px;
        display: block;
        position: absolute;
        left: 20px;
        top: 50%;
        margin-top: -10px;
        transform: translateX(6px) translateY(6px);
      }
    }
    input {
      border-radius: 0;
      position: fixed;
      top: -9999px;
    }
  }
  .form-group {
    margin-bottom: 40px;
    .form-control{
      &:focus {
        box-shadow: none;
        outline: 1px solid $white;
      }
    }
    @include media-breakpoint-down(xs) {
      margin-bottom: 20px;
    }
    input {
      background: $black2;
      border-radius: 0;
      border:0;
      height: 60px;
      font-size: 18px;
      padding-left: 20px;
      @media (max-width: 640px) {
        height: 40px;
        font-size: 16px;
      }
    }
    #telephone {
      padding-left: 60px;
    }
  }
  .total {
    @media (max-width:500px) {
      display: block;
    }
    .price {
      font-size: 1.15em;
    }
    .buynow {
      @media (max-width:500px) {
        display: block;
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}

.form_footer {
  display: flex;
  justify-content: space-between;
  line-height: 29px;
  margin-top: -55px;
  font-family: $font2;
  @include media-breakpoint-down(xs) {
    display: block;
  }
  a {
    font-size: 18px;
    font-family: $font2;
    color: $darkgray2;
    text-decoration: underline;
  }
  .donate {
    color: $darkgray2;
    font-size: 18px;
    margin-left: 40px;
    @include media-breakpoint-down(xs) {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}

.custom-control {
  cursor: pointer;
}

.custom-control.custom-checkbox .custom-control-label::before {
  border: none;
}

.custom-control.custom-checkbox {
  .custom-control-label {
    font-size: 18px;
    padding-left: 10px;
    color: $darkgray2;
    &:before {
      color: #fafaf8;
      width: 20px;
      height: 20px;
      border-radius: 0;
      border: 1px solid $darkgray !important;
      background-color: $black;
    }
  }
}

.custom-control-input:checked+.custom-control-label::before {
    color: #fafaf8;
    border-color: $white;
    background-color: $white;
}

.custom-control-input {
  width: 20px;
  height: 20px;
  top: 4px;
  cursor: pointer;
}
.custom-control-label::after {
  width: 20px;
  height: 20px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  width: 20px;
  height: 20px;
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23333333' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e")
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
  background-color: transparent;
  border-color: $white;
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}

.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
    background: none;
}




.iti--allow-dropdown {
  width: 100%;
}

.iti__country {
  height:60px;
}
.iti__flag-container {
  width: 100%;
}
.iti__selected-flag {
  padding-left: 15px;
  box-shadow: none;
  outline: none;
  border:0;
  &:focus {
    outline: 1px solid $white;
  }
}
.iti__country-list {
  width: 100%;
  background: $black2;
  border:1px solid $black2;
  .iti__divider {
    border-color: $black2;
  }
}

.privacy {
  background: $white;
  left:0;
  top:0;
  position: relative;
  color: $black;
  opacity: 1;
}

// privacy

.privacy {
  h2 {
    font-size: 52px;
    margin-bottom: 48px;
    @include media-breakpoint-down(xs) {
      font-size: 26px;
      margin-bottom: 24px;
    }
  }
  h3 {
    font-size: 32px;
    margin-bottom: 15px;
    @include media-breakpoint-down(xs) {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
  p, ul li {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 25px;
    @include media-breakpoint-down(xs) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 15px;
    }
    a {
      color: $black;
      text-decoration: underline;
      &:hover {
        color: lighten($black, 20%);
        text-decoration:none;
      }
    }
  }
  ul li {
    margin-bottom: 0;
    padding:0 0 0 15px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 10px;
      position: absolute;
      height: 1px;
      background: $black;
      top:16px;
      left: 0;
    }
  }
}

//sponsor

.sponsor {
  padding-top: 0;
  h1 {
    text-transform: uppercase;
    margin-bottom: 70px;
    font-size: 2.3em;
    @include media-breakpoint-down(xs) {
      margin-bottom: 35px;
    }
  }
  h2 {
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  .row {
    margin-bottom: 0;
  }
  .total {
    text-align: center;
    margin-top: 20px;
    display: block;
  }
}

.thanks {
  position: absolute;
  top: -50px;
  left: -50px;
  bottom:-50px;
  right:-50px;
  z-index: 9999;
  align-items: center;
  padding-top: 0;
  display: flex;
  justify-content: center;
  max-width: 100%;
  flex-direction: column;
  z-index: 999;
  display: none;
  h1 {
    text-transform: uppercase;
    max-width: 500px;
    margin-bottom: 40px;
  }
  h2 {
    font-size: 1.1em;
    max-width: 420px
  }
}


.mb0 {
  margin-bottom: 0em !important;
}

.mb1 {
  margin-bottom: 1em !important;
  @media (max-width: 420px) {
    margin-bottom: 0.5em !important;
  }
}

.mb2 {
  margin-bottom: 2em !important;
  @media (max-width: 420px) {
    margin-bottom: 1em !important;
  }
}

.mb3 {
  margin-bottom: 3em !important;
  @media (max-width: 420px) {
    margin-bottom: 1.5em !important;
  }
}

.mb4 {
  margin-bottom: 4em !important;
  @media (max-width: 420px) {
    margin-bottom: 2em !important;
  }
}

.mb5 {
  margin-bottom: 5em !important;
  @media (max-width: 420px) {
    margin-bottom: 2.5em !important;
  }
}

body {
  a {
    color: $black;
    &:hover {
      color: lighten($black,20%);
    }
  }
  &.white {
    background: $white url('../img/amstract.png') no-repeat left 100px top 0px;
    color: $black;
    padding-top: 120px;
    padding-bottom: 120px;
    @media (max-width: 640px) {
      background: $white url('../img/amstract.png') no-repeat center top 40px;
      background-size: 100%;
    }
    @media (max-width: 768px) {
      padding-top: 120px;
      padding-bottom: 60px;
    }
    .lead {
      font-weight: 400;
    }
    .bar {
      background: $white;
      border-color: $lightgray2;
      &>a {
        color: $lightgray0;
        @media (max-width: 420px) {
          margin-right: 13px;
          font-size: 16px;
        }
        span {
          @media (max-width: 660px) {
            display: none;
          }
        }
        &.active {
          color: $black !important;
        }
      }
    }
    h1 {
      @media (max-width: 640px) {
        font-size: 30px;
        line-height: 30px;
        br {
          display: none;
        }
      }
    }
    h1.hashtag {
      @media (max-width: 1440px) {
          margin-bottom: 60px;
      }
      @media (max-width: 768px) {
          padding-left:0;
      }
      &+.block {
        .w80 {
          @media (max-width: 1024px) {
              margin-bottom: 60px;
          }
        }
      }
    }
    .h1 {
      background: none;
      padding-top: 0;
      font-size: 80px;
      line-height: 80px;
      text-transform: none;
      @media (max-width: 1440px) {
        font-size: 60px;
        line-height: 60px;
      }
      @media (max-width: 640px) {
        font-size: 40px;
        line-height: 40px;
        br {
          display: none;
        }
      }
      @media (max-width: 640px) {
        padding-bottom: 10px;
      }

      &:after, &:before {
        display: none;
      }
    }
    .h3 {
      margin-bottom: 40px;
      @media (max-width: 640px) {
        br {
          display: none;
        }
      }
    }
    .h2 {
      font-size: 60px;
      margin-bottom: 60px;
      line-height: 48px;
      @media (max-width: 1440px) {
        font-size: 45px;
        line-height: 38px;
        margin-bottom: 40px;
      }
      @media (max-width: 640px) {
        br {
          display: none;
        }
      }
    }
    .divider {
      margin-bottom: 40px;
      height: 1px;
      &:before {
        background: $black;
      }
      &:after {
        background: $lightgray2;
      }
    }
    .w80 {
      width: 80%;
      @media (max-width: 1024px) {
        width: 100%;
      }
    }
    .w90 {
      width: 90%;
    }
    .speakers {
      @media (max-width: 960px) {
        &>div {
          text-align: left !important;
          margin-bottom: 20px;
        }
      }
    }
    p {
      font-size: 18px;
      line-height: 28px;
      display: block;
      @media (max-width: 640px) {
        font-size: 16px;
        line-height: 24px;
      }
      &.lead {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 35px;
        @media (max-width: 640px) {
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 28px;
        }
      }
    }
    .block {
      margin-bottom: 150px;
      @media (max-width: 1440px) {
        margin-bottom: 120px;
      }
      @media (max-width: 768px) {
        margin-bottom: 60px;
      }
      &.half {
        margin-bottom: 75px;
        @media (max-width: 768px) {
          margin-bottom: 40px;
        }
      }
    }
    iframe {
      @media (max-width: 768px) {
        height: 300px;
      }
    }
    .counter {
      .h2 {
        margin-bottom: 20px;
      }
      p {
        max-width: 240px;
        @media (max-width: 768px) {
          line-height: 24px;
        }
      }
      &>div {
        @media (max-width: 960px) {
          width: 33% !important;
        }
        @media (max-width: 420px) {
          .h2 {
            font-size: 32px;
            margin-bottom: 10px;
          }
          p {
            font-size: 14px;
            line-height: 20px;
          }
        }
        @media (max-width: 360px) {
          .h2 {
            font-size: 24px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .video {
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
      iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
      }
      @media (min-width: 1600px){
        margin: 0 -100px;
      }
    }
    .subscribe {
      display: flex;
      @media (max-width: 420px) {
        display: block;
      }
      input {
        height: 60px;
        border: 1px solid $lightgray;
        color: $black;
        padding-left: 15px;
        font-size: 18px;
        width: 100%;
        @media (max-width: 420px) {
          height: 40px;
          font-size: 14px;
          margin-bottom: 20px;
        }
        &:focus {
          border: 1px solid $black2;
          outline: none !important;
          box-shadow: none;
        }
      }
      .btn {
        font-family: $font2;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 160px;
        font-size: 16px;
        @media (max-width: 420px) {
          height: 40px;
          min-width: 120px;
          font-size: 14px;
          max-width: 100%;
          margin:0 auto;
        }
      }
    }
    .program {
      position: static;
      opacity: 1;
      background: none;
      padding-top: 0;
      overflow-y:visible;
      &.see_speakers {
        padding-top: 120px;
        @media (max-width: 640px) {
          padding-top: 60px;
        }
      }
    }
  }
}

footer {
  p, a {
    font-family: $font2;
    font-size: 14px !important;
    line-height: 22px;
  }
  a {
    color: $black;
  }
  .mail {
    color: $blue;
    text-decoration: underline;
  }
  .col-6 {
    @media (max-width: 420px) {
      margin-bottom: 20px;
      flex: 100%;
      max-width: 100%;
    }
  }
  .lower_block {
    @media (max-width: 1023px) {
      margin-top: 15px;
    }
  }
  .container {
    &>.row {
      &>div {
        @media (max-width: 768px) {
          margin-bottom: 30px;
        }
      }
    }
  }
  .social {
    display: flex;
    margin-top: 20px;
    li {
      border: 0;
    }
      .so {
        width: 20px;
        height: 20px;
        display: block;
        margin-right: 20px;
        &:hover .cls-1{
          fill: $black;
        }
        &.fb {
          /*background-image: url('../img/social_1.png');*/
        }
        &.yo {
          /*background-image: url('../img/social_2.png');*/
        }
        &.tw {
          /*background-image: url('../img/social_4.png');*/
        }
        &.ig {
          /*background-image: url('../img/social_3.png');*/
        }
      }
  }
}
